.Rproj.user
.Rhistory
.Ruserdata
.ipynb_checkpoints
outputs
data-raw/*.txt
data-raw/subjID_key_scramble.csv
.DS_Store
.lintr
.venv
.vscode
.ipynb_checkpoints

# Keep only Stan source files under inst/extdata/stan_files
inst/extdata/stan_files/**/*
!inst/extdata/stan_files/**/
!inst/extdata/stan_files/**/*.stan
.positai